.tulisan-navbar {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.tulisan-logo {
    font-family: "Bodoni Moda", serif;    
    font-weight: 800;
}
.card {
  opacity: 0.5;
  background-color: gray;
}
.card row {
  opacity: 1;
}