.tulisan-navbar {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.tulisan-logo {
    font-family: "Bodoni Moda", serif;    
    font-weight: 800;
}